---
import TarjetaNormal from "../components/tarjetanormal.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <TarjetaNormal 
    titulo="Centro de Padres y Apoderados"
  >
    <p class="text-roboto text-black leading-relaxed">
     Est치 conformado por el conjunto de padres y apoderados de cada uno de los estudiantes del establecimiento. Cada a침o en el mes de abril se realiza la elecci칩n de la Directiva, quienes la conforman tienen la responsabilidad de dirigir y gestionar las distintas acciones del estamento y respaldar las actividades necesarias para el proceso ense침anza aprendizaje.    </p>
  </TarjetaNormal>
    
</Layout> 