---
import TarjetaNormal from "../components/tarjetanormal.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <TarjetaNormal titulo="Centro Estudiante">
        <p class="text-roboto text-black leading-relaxed">
            Reglamento Interno del Centro de Estudiantes 2019 Capítulo 1: De las
            definiciones y funciones Artículo 1°: El centro de estudiantes es
            una organización independiente formada por todos los niveles de la
            jornada diurna del establecimiento, en función de las necesidades
            inmediatas de los estudiantes. Artículo 2°: Su finalidad es
            funcionar en cooperación con sus miembros como medio de desarrollar
            en ellos el pensamiento reflexivo, el juicio crítico y la voluntad
            de acción; de formarlos y prepararlos para entender los cambios
            culturales y sociales, pronunciándose sobre estos en un ambiente de
            respeto y compañerismo. Artículo 3°: Las funciones del Centro de
            Estudiantes son: Promover la creación e incremento de oportunidadess
            para que los Estudiantes, manifiesten democrática y organizadamente
            sus intereses, inquietudes y aspiraciones. Promover en el alumnado
            la mayor dedicación a su trabajo escolar procurando que se
            desarrolle y fortalezca en un adecuado ambiente educativo y unas
            estrecha relación humana entre todos los integrantes del Liceo,
            basada en el respeto mutuo. Orientar sus organismos y actividades
            hacia la consecución de las finalidades exigidas por el
            estudiantado. Representar las problemáticas, necesidades y
            aspiraciones de los Estudiantes del Liceo ante las autoridades,
            consejo escolar u organismos que corresponda. Procurar el bienestar
            de los Estudiantes, promoviendo y apoyando actividades y proyectos
            tendiente a establecer las condiciones mínimas deseables para la
            realización de un trabajo escolar pleno. Designar sus representantes
            ante las organizaciones estudiantiles con los que el Centro de
            Estudiantes se relacione. Promover el ejercicio de los derechos
            estudiantiles y de los derechos humanos universales a través de sus
            organismos, programas de trabajo y relaciones interpersonales. En el
            Liceo Galvarino Riveros Cárdenas no se negará la constitución y
            funcionamiento del Centro de estudiantes, entendiendo a este último
            organismo como un estamento de posturas y pensamiento representativo
            respecto a las realidades estudiantiles. Capítulo II: Organización y
            funcionamiento Artículo 1º: El Centro de estudiantes del Liceo
            Galvarino Riveros está estructurado por los siguientes organismos:
            La Asamblea General La Directiva entrante El Consejo de Delegados y
            Presidentes El Consejo de Curso El Tribunal calificador de
            Elecciones (TRICEL) Las Comisiones (Capítulo V) Art. 2º: De la
            Asamblea General: Está constituida por cada estudiante del
            establecimiento, le corresponde: Elegir la Directiva del Centro de
            Estudiantes Aprobar los reglamentos internos del Liceo Galvarino
            Riveros Cárdenas en función de lo establecido en el capítulo IV. La
            Asamblea general deberá sesionar a lo menos una vez al año en forma
            ordinaria, para la elección de la Directiva. No obstante, podrá
            sesionar de manera extraordinaria cuando sea convocada por 3/5 de
            los miembros o más de la directiva, por el 50% +1 de los Delegados
            de Curso o por solicitud escrita que represente a lo menos un 30% de
            los estudiantes del establecimiento. La Asamblea general en caso de
            sesionar de forma extraordinaria, deberá ser avisada a lo menos 2
            días antes de su ejecución, ante el Consejo de Profesores, al Centro
            de padres y a la dirección del establecimiento, explicando la
            finalidad y necesidad de la convocatoria. Se considerará la
            asistencia al establecimiento en caso de que la Asamblea sesione. La
            Directiva podrá comunicarse con sus asesores y los profesores jefes
            del Consejo de Curso que tengan disposición para asesorar esta
            Asamblea en su organización. Art. 3º: De la Directiva: Le
            corresponden las siguientes responsabilidades y atribuciones:
            Dirigir y administrar al Centro de Estudiantes en todas las materias
            que sean de la competencia del estamento. Elaborar y presentar su
            Plan Anual de trabajo ante el Consejo de delegados, para evaluar las
            formas más convenientes de ejecutarlo. Representar al Centro de
            Estudiantes ante la dirección del establecimiento, el Consejo de
            Profesores, el Centro de Padres y Apoderados y las instituciones de
            la Comunidad. En el caso del Consejo Escolar se representará a
            través del presidente. Aprobar en conjunto al Consejo de Delegados
            de curso las instancias de organización estudiantil con las cuales
            el Centro de Estudiantes se relacionará. Presentar al Consejo de
            Delegados de Curso, antes de ser presentado a la Asamblea General y
            antes de finalizar su mandato, una cuenta anual de las actividades
            realizadas. Convocar a lo menos una vez al mes al Consejo de
            Delegados de Curso, a sesionar en reuniones ordinarias. Convocar una
            Asamblea General de manera extraordinaria con el acuerdo de 3/5 de
            los miembros. Decidir en qué circunstancia se estima conveniente la
            participación de sus asesores. Pedir el reconocimiento de los
            participantes de las comisiones organizadas por el Centro de
            Estudiantes por parte de todos los estamentos del Liceo. Definir y
            dar a conocer un horario de atención en su oficina. Art. 4º: La
            Directiva debe sesionar en conjunto a los profesores asesores de
            manera ordinaria una vez a la semana y de forma extraordinaria
            cuando lo convoque el presidente o la mayoría simple de los
            miembros. Dichas reuniones deberán ser autorizadas por Inspectoría
            General en caso de realizarse en horario de clases. Art. 5º: La
            Directiva podrá solicitar espacios dentro del Establecimiento para
            la realización de actividades responsabilizándose de ellos. Deberá
            informarse a Inspectoría General el motivo de la necesidad del
            espacio y una planificación resumida de lo que sucederá en el lugar.
            Art. 6º: El Centro de Estudiantes estará formado al menos por los
            siguientes cargos: Un Presidente Un Vicepresidente Un Secretario
            Ejecutivo Un Secretario de Actas Un Secretario de finanzas Art.7°:
            De las funciones del Presidente: El Presidente tiene la
            representación del Centro de Estudiantes y es el vocero oficial de
            esta institución. Tomar las medidas necesarias para la buena
            administración del Centro de Estudiantes y velar por la ejecución
            cabal de las decisiones adoptadas por éste. Asistir y participar en
            calidad de representante del Centro de Estudiantes a todas las
            reuniones que le corresponda y/o sea invitado, siempre y cuando sus
            ausencias no perjudiquen su desempeño como alumno Indicarle,
            expresamente, al Vicepresidente que debe subrogarlo cuando esté en
            imposibilidad de ejercer alguna función. Velar por el cumplimiento
            de las funciones que le correspondan a cada uno de los integrantes
            de la Firmar junto al Secretario de Actas, toda correspondencia del
            Centro de Estudiantes e imponerse de todos los documentos y cartas
            que se Cumplir con toda la función inherente a su calidad de
            representante del Centro de Art.8°: De las funciones del
            Vicepresidente: Asumir el cargo de Presidente cuando las
            circunstancias lo Junto al Secretario Ejecutivo, se responsabilizará
            del plan de trabajo y formación de Debe responsabilizarse del
            inventario del Centro de Art.9°: Del Secretario Ejecutivo: Deberá
            convocar al consejo de Delegados de Curso y a la directiva a
            reuniones ordinarias y Representar al Centro de Estudiantes, junto
            al Presidente, a las reuniones que sean Hacerse responsable de la
            oficina del Centro de Estudiantes. Coordinar fechas y tiempos para
            cada proposición o actividad del Centro de Estudiantes Velar por el
            cumplimiento de las competencias de la Directiva, revisando el
            acuerdo de lo dispuesto en el Decreto 524 Art.10°: Del Secretario de
            Actas: Tomar actas de todas las reuniones y transcribir los acuerdos
            de la directiva del Centro de Estudiantes, Consejo de Presidentes y
            Asamblea Conservar, custodiar el archivo y demás documentos del
            Centro de Estudiantes, excepto la documentación del Secretario de
            Llevar el libro de actas de la Directiva, del Consejo de Presidentes
            de cursos y de la asamblea Organizar los ficheros de la oficina del
            Centro de Estudiantes. Hacerse responsable del sello oficial.
            Art.11°: Del Secretario de Finanzas: Supervisar las comisiones que
            ejecutan el Plan de Finanzas del Centro de Estudiantes. Velar por el
            cumplimiento del plan de Finanzas del Centro de Estudiantes,
            Mantener y llevar la contabilidad de ingresos y Informar, a lo
            menos, mensualmente al consejo de Presidentes de Cursos, el estado
            Art. 12º: Del Consejo de Curso: Será el Consejo que realizará cada
            curso con el fin de organizarse internamente y en base a las
            herramientas entregadas por el Centro de Estudiantes. El Consejo de
            Curso, como forma de organización estudiantil, constituye el
            organismo base del Centro de Estudiantes. Lo integran todos los
            Estudiantes del curso respectivo. Se organizan democráticamente, y
            eligen a su Directiva y representantes ante el Consejo de Delegados.
            El Consejo de Curso deberá comenzar sus funciones no más allá de 30
            días comenzado el año lectivo del establecimiento. También será
            asesorada la sesión por su profesor jefe según el Capítulo III
            artículo 2 del presente documento. Art. 13º: Del Presidente de
            Curso: Será el encargado de representar al curso en el Consejo de
            Delegados e instancias correspondientes. Servir de organismo
            informativo y coordinador de las actividades propuestas por el
            Centro de Estudiantes y los Consejos de Curso. Participará y formará
            parte de la organizacimnmmmkas asctividadescis organizadas por la
            Directiva, so.elegadostes se as por el Centro de Estudiantes.os los
            estamentos del Lón establecida para la ejecución de las actividades
            propuestas por la Directiva. Art. 14º: Del Secretario de Curso: Le
            corresponde tomar acta de lo acordado en las sesiones. Llevar la
            contabilidad del dinero del Curso. Organizar las comisiones de
            trabajo al interior del curso. Art 15º: Del Delegado de
            Contingencia: Adquiere las funciones del Presidente en caso de
            inasistencia de este último. Se encargará de acompañar al Presidente
            de Curso al Consejo de Delegados, siendo el medio de comunicación de
            las materias que se conversan en las sesiones. Art. 16º: Al momento
            de elegir la Directiva de curso se deberá informar y presentar lo
            dictado en este documento (desde el artículo 12 al 18) para velar
            por el buen funcionamiento de este organismo. Art. 17º: Del Consejo
            de Delegados de curso: Participarán en esta reunión los delegados
            y/o presidentes de cada curso para representar la postura de este
            último en las decisiones o circunstancias planteadas en la sesión.
            En este Consejo además se organizarán comisiones de trabajo para la
            ejecución de las actividades propuestas o en las que participa el
            Centro de Estudiantes. Corresponde al Consejo: Informar y estudiar
            las iniciativas, proposiciones y acciones de los diversos cursos y
            grupos de Estudiantes con el fin de impulsar las que estime más
            convenientes. Apoyar a la Directiva en la elaboración de su Plan
            Anual de Trabajo, constituyendo los organismos y comisiones
            permanentes y circunstanciales que se consideren indispensables para
            cumplir con los objetivos del Centro de Estudiantes Elaborar el
            reglamento interno del Centro de Estudiantes del Liceo Galvarino
            Riveros Cárdenas, y presentárselo luego a la Asamblea General para
            la aprobación de este. Determinar las formas de financiamiento del
            Centro de Estudiantes. Aprobar el Presupuesto del Plan Anual de
            Trabajo. Pronunciarse sobre la cuenta anual y el balance que le debe
            presentar la Directiva del Centro de Estudiantes e informar de ella
            a la Asamblea General antes de que ésta proceda a la elección de la
            mesa directiva. Proponer a la Directiva la afiliación del Centro a
            aquellas organizaciones estudiantiles de que se desee formar parte
            o, en caso contrario, la desafiliación de aquellos en que se está
            participando. Servir de organismo informativo y coordinador de las
            actividades de la Directiva y los Consejos de Curso. Determinar las
            medidas disciplinarias que corresponda aplicar a los miembros del
            Centro de Alumnos, de acuerdo con lo estipulado en el Reglamento
            Interno, llegándose incluso a solicitar la dimisión de algún miembro
            si se considera necesario. Ningún otro estamento podrá tomar una
            determinación acerca de las medidas aplicadas, entendiendo estas
            decisiones de competencia única del Centro de Estudiantes. Art. 18º:
            Para sesionar este Consejo, el Centro de Estudiantes solicitará el
            retiro de la sala del Presidente y Delegado de cada curso, mediante
            un documento elaborado por el secretario ejecutivo, timbrado por la
            Directiva o Inspectoría General. Art. 19º: Del Tribunal Calificador
            de Elecciones (TRICEL) De la Constitución del TRICEL: Estará
            compuesto a lo menos por 5 estudiantes regulares, quienes irán en
            representación de octavo, primero, segundo, tercero y cuarto medio
            respectivamente. A ellos, se les debe sumar un asesor del Centro de
            Alumnos vigente. El TRICEL será elegido por el Consejo de Delegados
            de Curso. Los alumnos que formen parte del TRICEL deben haber tenido
            por lo menos 6 meses de permanencia en el Liceo. Los postulantes a
            la Directiva no podrán formar parte del TRICEL. El TRICEL deberá
            constituirse mínimo 15 días hábiles antes de la votación, o sea, la
            segunda semana de Noviembre. De la Función del TRICEL: Son
            responsabilidades mínimas del TRICEL: Supervisar todos los procesos
            electorales que tengan relación con el Centro de Estudiantes.
            Aplicar y respetar el Capítulo VI del presente documento referido a
            la elección de la Directiva. Recibir las inscripciones de las listas
            que se postulan. Fiscalizar el proceso eleccionario y velar por su
            funcionamiento de manera ordenada. Proclamar la nueva Directiva
            electa. Capítulo III: Asesores del Centro de Estudiantes. Artículo
            1º: Profesores Asesores El Centro de Estudiantes contará con al
            menos dos profesores asesores, los cuales ayudarán a orientar el
            desarrollo de sus actividades y relacionarlos con este mismo. Estos
            serán elegidos por la Directiva de una nómina de cinco profesores
            presentada por el Consejo de Delegados no más allá de 30 días
            después de iniciado el año lectivo del establecimiento. * Es
            recomendable que los señores Profesores asesores sean profesionales
            con una vocación en la tarea de formación íntegra de cada estudiante
            del Liceo Galvarino Riveros Cárdenas, con un interés por la
            organización y orientación del estudiantado, en función de las
            aspiraciones a las que apunta el Centro de Estudiantes. Art. 2º: Los
            asesores del Consejo de Curso serán los respectivos profesores
            jefes, los cuales podrán a su vez ser dotados de herramientas
            entregadas por el Centro de Estudiantes para la realización de
            actividadas planificadas por éste último. Art. 3º: Los profesores
            Asesores deberán ser docentes con a lo menos un año de ejercicio
            profesional en el establecimiento, y manifestar su aceptación para
            desempeñar esta función. Art. 4º: El sostenedor y la Dirección del
            establecimiento deben adoptar las medidas necesarias para que el
            Centro de estudiantes cuente con los asesores que requieran, en
            conformidad a lo dispuesto en el Título III artículo 10 del Decreto
            524. Art. 5º: Asesores del Centro de Estudiantes saliente La nueva
            Directiva deberá ser asesorada por miembros de la Directiva saliente
            en las tareas administrativas durante su año lectivo. Esto para
            asegurar una continuidad de las tareas pendientes y evitar la
            tergiversación de la ejecución de estas, y a su vez para una
            familiarización con la labor a desempeñar en este cargo. Art. 6º: La
            Directiva saliente deberá designar dos miembros que asesorarán al
            nuevo Centro de Estudiantes, los cuales formarán parte de este
            último en calidad de asesores. Art. 7º: Ambas Directivas podrán
            sesionar de manera ordinaria una vez al mes para revisar el estado
            de los proyectos y formas de abordar circunstancias particulares. Se
            podrán reunir también en forma extraordinaria cuando la mayoría
            simple o el Presidente de la Directiva lectiva lo solicite. Capítulo
            IV: Cambio del Reglamento. Art. 1°: El Reglamento interno del Centro
            de estudiantes deberá ser revisado anualmente con el fin de
            responder a las necesidades inmediatas del estudiantado, llevando
            consigo un proceso de estudio y debate del documento. Este
            reglamento podrá modificarse dadas las siguientes circunstancias: Si
            el 50%+1 del Consejo de delegados o un quórum de 3/5 de la Directiva
            realizan la petición. Mediante una solicitud escrita que represente
            al menos un 30% de los estudiantes del Liceo Galvarino Riveros
            Cárdenas con sus respectivas firmas. Art. 2°: Una vez terminado el
            procedimiento señalado en el artículo 1 de este Capítulo (IV) se
            deberá realizar una votación en una sesión del Consejo de
            Presidentes para aprobar los cambios a este documento. Se requerirá
            un quórum calificado, es decir, 2/3 del total de los miembros del
            Consejo, considerando el voto de los miembros ausentes, significando
            esto que TODOS los Presidentes deben emitir su voto. Capítulo V:
            Comisiones circunstanciales. En respuesta a la necesidad de los
            estudiantes en instancias donde se potencie su desarrollo
            individual, la Directiva evaluará la posibilidad de crear comisiones
            de carácter artístico, investigativo, e incluso deportivo. Estas
            comisiones tendrán como objetivo presentar proyectos, actividades o
            intervenciones a la comunidad escolar. En las comisiones podrán
            participar todos los estudiantes del liceo Galvarino Riveros
            Cárdenas, pudiendo ser en circunstancias asesorados por
            profesionales para el mejor desempeño del trabajo de los
            Estudiantes. Artículo 1º: Las comisiones podrán reunirse en un
            periodo determinado por la necesidad de la frecuencia de las
            sesiones, pudiéndose realizar algunas de dichas reuniones en horario
            de clases. Art. 2º: Los participantes de estas comisiones podrán
            solicitarle una nota a los profesores de materias relacionadas con
            su labor con el fin de promover la motivación y creación de
            instancias donde los estudiantes puedan desarrollarse de una forma
            alternativa en conjunto a sus pares. El Centro de Estudiantes puede
            hacer de garante de la participación del estudiante. Art. 3º:
            Comisión Estatutaria Esta comisión será la que se encargará de
            estudiar y aprobar en definitiva este reglamento, elaborado por el
            Consejo de Delegados de Curso. En esta comisión participará: Un
            Orientador o algún profesor que se encargue de este tipo de tareas
            pedagógicas. El Presidente del Centro de Estudiantes Dos Estudiantes
            elegidos por el Consejo de Delegados Dos profesores asesores que
            debe tener el Centro de Estudiantes Art. 4º: Comisiones de carácter
            artístico Podrán organizarse comisiones de carácter artístico,
            coordinadas por el Centro de Estudiantes. Su objetivo será aliñar la
            estadía de los estudiantes del liceo, para así poder dar un espacio
            más recreativo dentro de este, ya sea mediante intervenciones,
            muestras teatrales, música en vivo, etcétera. Esta comisión podrá
            sesionar de manera ordinaria al menos dos veces al mes, para
            proponer las actividades a realizar y elaborar la planificación de
            estas. En caso de reunirse de manera extraordinaria deberá ser fuera
            del horario de clases, a no ser que el Presidente de la Directiva
            solicite la reunión. Art. 5º: Comisión de periodismo. Esta comisión
            será la encargada de supervisar y organizar el correcto
            funcionamiento de la radio de nuestro liceo, y supervisando otros
            proyectos relacionados a su carácter que le proponga el Centro de
            Estudiantes. Tendrá un carácter permanente, y deberán reunirse una
            vez a la semana de forma ordinaria para definir el modo de ejecución
            y contenidos de sus programas. En caso de reunirse de manera
            extraordinaria deberá ser fuera del horario de clases, a no ser que
            el Presidente de la Directiva solicite la reunión. Art. 6º: Las
            muestras o actividades organizadas por las comisiones serán avisadas
            al menos una semana antes de su realización, para asegurar un mayor
            éxito en el recibimiento de estas actividades. Art. 7°: Las
            comisiones podrán respaldarse con la Ley SEP para la obtención de
            materiales que usarán en el transcurso del año. Capítulo VI: De la
            postulación y proceso de elección de la Directiva. De la postulación
            Art 1º: Una vez conformado el TRICEL, se consideran abiertas las
            postulaciones a la Directiva del Centro de Estudiantes. Se darán por
            iniciadas las campañas eleccionarias con la inscripción de la lista.
            La postulación se cerrará un día antes del comienzo de las
            presentaciones de las listas. Las campañas deberán velar por el
            respeto mutuo y la buena convivencia entre los diferentes
            postulantes, en caso contrario pudiendo ser sancionados mediante una
            determinación tomada por el Consejo de Delegados. Las campañas se
            cerrarán un día antes de la votación. Se sancionará a la lista o
            candidato que destruya propaganda ajena, pudiendo significar la
            descalificación del proceso eleccionario. La lista que se presente
            como candidata a la Directiva del Centro de Estudiantes tendrá que
            presentar un Plan Anual de Trabajo y además una lista de apoyo
            firmada por a lo menos 150 estudiantes del Liceo Galvarino Riveros
            Cárdenas. Cada estudiante podrá firmar manifestando su apoyo sólo a
            una lista. Podrán postular todos los estudiantes que lleven al menos
            6 meses de permanencia en el establecimiento al momento de postular,
            tengan un promedio sobre 5,5, no tengan más de dos faltas gravísimas
            en su hoja de vida y que no hayan sido destituídos de algún cargo
            del Centro de Estudiantes por una infracción a su reglamento. Art.
            2º: Los estudiantes que no cumplan con los requisitos para postular
            a la Directiva podrán apelar mandando una carta dirigida al TRICEL.
            Éstos deberán presentar el caso al Consejo de Delegados, quiénes
            deliberarán en una votación por mayoría simple si se acepta o no la
            apelación. Art. 3º: En caso de que se presente solamente una lista
            en el proceso eleccionario, el TRICEL deberá organizar un plebiscito
            donde se decidirá si la lista asume o no como Centro de estudiantes,
            no sin antes darles la oportunidad de exponer su plan de trabajo en
            foros y realizar una campaña electoral. En caso de que se apruebe la
            postulación de la lista, éstos asumirán como nuevo Centro de
            Estudiantes. Por el contrario, si se reprueba la postulación, se
            deberá escoger a un Centro de Alumnos provisorio, que estará
            compuesto por un representante de octavo, primero, segundo, tercero
            y cuarto medio respectivamente (siempre y cuando tengan mas de 6
            meses de permanencia en el liceo). Se disolverá el TRICEL y se
            escogerá a uno nuevo, el que se encargará de volver a llamar a
            elecciones, siempre incentivando la participación del alumnado en
            este tipo de iniciativas. Art. 4º: Del Proceso Eleccionario: Las
            listas se presentarán en un foro de debate y discusión, donde
            asistirán todos los estudiantes para conocer el plan de trabajo de
            las listas, hacer preguntas a cada una y escuchar las posturas
            referidas a planteamientos de discusión que hará una lista a la
            otra. Ningún candidato podrá descalificar a otro en estos foros,
            arriesgándose a ser sancionado y eventualmente, cancelar su
            postulación. El TRICEL es el organismo responsable del orden y el
            respeto de los foros. Cada lista tendrá de 10 a 20 minutos para
            presentar su Plan de Trabajo, Presupuesto Anual y cargos postulados.
            Una vez terminadas las presentaciones, se dará lugar a un espacio de
            discusión que será definido según el TRICEL estime más conveniente.
            Las preguntas no podrán ser dirigidas a un miembro específico de la
            lista, pudiendo responder todos con el objetivo de complementar lo
            más posible la respuesta, sin embargo ateniendose a los tiempos
            dados por el TRICEL. Cada lista podrá presentar un discurso en un
            tiempo establecido. Los estudiantes podrán hacer preguntas que
            tengan que ver con materias referidas al Centro de Estudiantes.
            Frente a una pregunta fuera de contexto, el TRICEL podrá evaluar la
            eventual sanción del alumno. Art. 5º: A petición de las listas, el
            TRICEL podrá evaluar la posibilidad de usar formas extraordinarias
            de exposición y presentación de los postulantes. Art. 6º: En caso de
            que alguna lista presente un cargo en la Directiva no estipulado en
            este serán reglamento, en su Plan de Trabajo deberán justificar la
            función de éste. Art. 7º: De la Elección de la Directiva: La
            elección se hará por listas completas y cerradas Cada sufragante
            (alumno) tendrá derecho a dar un voto por una determinada lista.
            Será proclamada la lista que obtenga la mayoría simple de votos
            válidamente emitidos. La Directiva durará en sus funciones desde
            Marzo a Diciembre. Los cargos de la Directiva son incompatibles con
            los cargos del Consejo de Curso. En caso de que exista un empate, el
            TRICEL deberá llamar a una segunda vuelta dentro del plazo que este
            mismo estime más conveniente. Art. 8º: El postulante al cargo de
            vicepresidente no podrá pertenecer al nivel de cuarto año de
            enseñanza media. Capítulo VII: Evaluaciones de Rendimiento del
            Centro de Estudiantes Art. 1º: Se realizarán evaluaciones periódicas
            al Centro, en base a lo estipulado en el artículo 2 de este capítulo
            Art. 2º: El Centro de Estudiantes deberá proponer metas a alcanzar
            cada semestre, las que serán discutidas en el Consejo de Delegados.
            Art. 3º: Cualquier sanción aplicada a los miembros del Centro será
            deliberación del Consejo de Delegados. Saluda a ud. Comisión
            Estatutaria Año 2019
        </p>
    </TarjetaNormal>
</Layout>

