---
import TarjetaNormal from "../components/tarjetanormal.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <TarjetaNormal 
    titulo="Evaluación"
  >
    <p class="text-roboto text-black leading-relaxed">
    El Liceo Galvarino Riveros Cárdenas es un Establecimiento Municipal de Educación Media de modalidad Científico-Humanista que se rige por la Ley General de Educación n°20.370 del 2009o L.G.E. y Ley de Inclusión n° 20.845 del 2016.
Basa su Marco Curricular de Educación Básica y Media en los Decretos Supremos de Educación, 67/2018 de Evaluación, Calificación y Promoción que define normas mínimas nacionalessobre evaluación, 170/2009 que fija normas para determinar alumnos con Necesidades Educativas Especiales que serán beneficiarios de la subvención para la Educación Especial y N° 83/ 2015 aprueba Criterios y Orientaciones de Adecuación Curricular para Estudiantescon Necesidades Educativas Especiales, integración escolar de estudiantes con necesidades educativas especiales.
El Ministerio de Educación, de acuerdo a las políticas educacionales del Gobierno, faculta a los establecimientos educacionales para elaborar su Reglamento de Evaluación, Calificación y Promoción Escolar, respetando las normas mínimas nacionales sobre evaluación, acorde con su Proyecto Educativo Institucional (PEI) y con las características y necesidades de sus estudiantes.
El Liceo ha optado por régimen semestral e informa del presente documento a las y los apoderados/as en el proceso de matrícula y en la reunión de curso del mes de abril, a las y los estudiantes en el mes de marzo para su discusión y en el mes de abril con su reformulación. Además, se publica en la página web del establecimiento www.liceogrc.cl
El objetivo fundamental del Reglamento de Evaluación es contribuir a mejorar la organización, comunicación, participación y calidad del proceso de enseñanza aprendizaje, con el propósito de elevar los estándares de calidad y excelencia de la educación impartida en el Liceo Galvarino Riveros Cárdenas de Castro.
</p>
  </TarjetaNormal>
    
</Layout> 