---
import TarjetaNormal from "../components/tarjetanormal.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <TarjetaNormal
    titulo="Misión Institucional"
  >
    <p class="text-2xl text-black leading-relaxed">
      El Liceo Galvarino Riveros Cárdenas, en su calidad de establecimiento educacional Humanista Científico, tiene como misión el desarrollo integral de los alumnos que forma, a través de un proceso educativo, con el que se pretende lograr aprendizajes significativos y permanentes, con metodologías innovadoras, motivadoras, creativas, inclusivas y contextualizadas en nuestro entorno socio-cultural. Esto, en un ambiente respetuoso, solidario, integrador y democrático que involucra, en su quehacer educativo, a todos los integrantes de la comunidad: 
      profesores, asistentes de la educación, estudiantes, padres y apoderados; cada uno en su respectivo rol y responsabilidad.
    </p>
  </TarjetaNormal>
    
</Layout>   