---
import TarjetaNormal from "../components/tarjetanormal.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <TarjetaNormal 
    titulo="Reglamento Interno"
  >
    <p class="text-roboto text-black leading-relaxed">
    El Liceo [Nombre del Liceo] tiene como misión fundamental la formación integral de sus estudiantes, en un ambiente que promueva el respeto, la seguridad y el desarrollo académico y personal. Para garantizar este propósito, hemos establecido una serie de protocolos de actuación. <br>

Un protocolo es una guía clara y ordenada de pasos a seguir frente a situaciones específicas que puedan ocurrir dentro de nuestra comunidad. Su objetivo es asegurar que todos los miembros —estudiantes, docentes, asistentes de la educación, equipo directivo y apoderados— actúen de manera coherente, justa, oportuna y formativa.
</p>
  </TarjetaNormal>
    
</Layout> 