---
import TarjetaNormal from "../components/tarjetanormal.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <TarjetaNormal 
    titulo="Reglamento Interno"
  >
    <p class="text-roboto text-black leading-relaxed">
    El Liceo Galvarino Riveros Cárdenas, es un Liceo de modalidad Humanístico – Científico, administrado por la Corporación Municipal de Educación, Salud y Atención al Menor de la ciudad de Castro. Se propone como misión ser el más importante Liceo Científico Humanista Municipal, gratuito de la región y uno de los más destacados del país, por sus logros académicos, deportivos, artísticos y científicos. Acogerá en sus aulas a niños (as) y jóvenes de los distintos sectores geográficos del archipiélago, cuidando no discriminar por razones sociales, étnicas, religiosas, ideológicas, ni de otra causa (Según ley nº 20.609, Ley Antidiscriminación del 24/07/2012 y Ley de Inclusión, 20.845 del 2016). Formará a través de un currículo sujeto siempre a revisión y adecuación, a un individuo con alto sentido social y ético; con los saberes, habilidades y competencias, en las áreas de Humanidades, las Ciencias, la Tecnología y las Artes, que le aseguren el ingreso a la Educación Superior, su permanencia en ella y posterior incorporación a su sociedad con éxito y compromiso. Velará en todo momento por fomentar un clima de interrelaciones basado en el respeto, la tolerancia y la integración. Su quehacer educativo tiene como base las siguientes normativas legales vigentes:
1.- Constitución Política de la República de Chile.
Ley General de Educación (LGE) N° 20.370.
Ley sobre Calidad y Equidad de la Educación y todas las modificaciones incorporadas actualmente N° 20.501.
Ley Nº 20.529 de Sistema Nacional de Aseguramiento de la Calidad de la Educación Parvularia, Básica y Media y su Fiscalización.
Ley sobre Violencia Escolar (LVE) N° 20.536.
Ley N° 20.000, sobre el Tráfico Ilícito de Estupefacientes y Sustancias Psicotrópicas.
Ley N° 19.070 de 1991; Ley N° 19.410 de 1995 y Reglamento Dcto. 453/91. .-Estatuto de los profesionales de la Educación, Ley sobre Jornada Escolar Completa Diurna N° 19.532 de 1997.
2.- Convenios internacional Fundamentales en los Derechos Humanos y en la Convención sobre los Derechos del Niño, 1990.
3.- Reglamento Interno de Orden, Higiene y Seguridad de la Corporación Municipal de Castro para la Educación, Salud y Atención al Menor.
4.- Orientaciones del Ministerio de Educación en relación a la Convivencia Escolar: metodologías de trabajo para las Escuelas y Liceos comprometidos por la Calidad de la Educación.
5. Ley de identidad de género.
</p>
  </TarjetaNormal>
    
</Layout> 