---
import TarjetaNormal from "../components/tarjetanormal.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <TarjetaNormal 
    titulo="Visión Educacional"
  >
    <p class="text-2xl text-black leading-relaxed">
     Nuestra Visión se expresa a través de un currículum pertinente, actualizado y de calidad. El Liceo Galvarino Riveros Cárdenas, formará personas integrales, desarrollando en ellas competencias, a través del desarrollo de habilidades individuales y sociales, según sus necesidades e intereses, en las áreas de humanidades, ciencias, tecnología, deportes y artes.
Acompañado de una formación valórica en la que se prioricen la responsabilidad social, el espíritu crítico y democrático, el respeto por la diversidad y medio ambiente. Bajo estos sólidos principios alcanzarán la educación superior, destacando en ella y llegando a ser profesionales plenos, integrados a su sociedad y al mundo globalizado.
El PEA será llevado a cabo por profesionales de alta calidad valórica y académica, con fuerte compromiso con el Proyecto Institucional y serán apoyados por los otros estamentos de la comunidad educativa, bajo los mismos conceptos.
    </p>
  </TarjetaNormal>
    
</Layout> 