<footer class="bg-azul-oscuro py-8 text-center text-blanco">
  <div class="container mx-auto">
     <p><strong>Liceo Galvarino Riveros Cárdenas</strong></p>
        <p>Dirección: Chacabuco 356, Castro, Chiloé</p>
        <p>Teléfono: 652638897</p>
        <p>Email: liceogalvarinoriveroscardenas.castro@educhiloe.gob.cl</p> 
  </div>
</footer>